<h1>Wellcome to Home Page</h1>

<p>Click on the
<%= link_to 'New' , new_article_path %>
to navigate to New Page
</p><br/>

<p>Click on the
<%= link_to 'About', pages_about_path %>
to navigate to About Page
</p>
