<div class="container">
<footer class="footer">
<small>
Copyright © <a href="enter in a link here">My WebPage</a>
by <a href="enter in a link here">Mohammad Ripon</a>
</small>
<nav>
<ul>
<li><%= link_to "About", pages_about_path %></li>
</ul>
</nav>
</footer>
</div>